* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body {
    min-height: 1000px;
	background: #000;
    font-weight: 400;
}

.alto-seccion {
    height: 350px;
}

header {
    position: 1000px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    z-index: 1000;
    transition: 0.6s;
}

header.sticky {
    padding: 10px 100px;
    background: #fff;
    border-bottom: 1px solid (0,0,0, .1);
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: sticky;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 300;
    transition: 0.6s;
}

header.sticky .logo,
header.sticky ul li a {
    color: #000;
}


.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h2 {
    color: #fff;
    font-size: 90px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;
}

.banner h2 span {
    color: #4978ff;
}

a {
    text-decoration: none;
}

.appelle-logo {
    max-width: 50px;
}


.card p {
    color: black;
    text-align: center;
}

.linea-vertical { 
    border-right: 0.1px solid #fff; 
}

.linea-horizontal {
    border-bottom: .1px solid #fff;
    border-top: .1px solid #fff;
}

/* NAV 

.style-navbar-appelle {
    padding: 1rem 1rem;
    border-bottom: 1px solid #e2e2e2;
    z-index: 9;
    box-shadow: 0px 0px 10px rgb(0,0,0, 13%);
}



.navbar img {
    width: 75px;
    height: 75px;
}

.offcanvas-end {
    width: 280px;
}

.imagenbanner {
    width: 100%;
}



*/


/* FOOTER */


.footer-bs {
    background-image: linear-gradient(black, #071013);
    padding: 60px 40px;
    color: rgba(255,255,255,1);
    padding-bottom: 10px;
    background-image: ();
}

.footer-bs .mail.info {
    border: 1px solid #585858;
    background-color: black;
    color: white;
    font-size: 14px;
}

.footer-bs .footer-ns {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.70);
}

.footer-blue {
    background-color: #233f55;
    background-image: none;
    padding: 2px;
}

.footer-bs .footer-nav ul.pages {
    list-style: none;
    padding: 0px 20px;
}

.footer-bs .footer-nav ul.list {
    text-decoration: none;
    list-style: none;
    padding: 0px 20px;
}

.footer-bs .footer-nav ul {
    text-decoration: none;
    font-size: 13px;
}

.footer-bs .footer-nav ul.pages li {
    padding: 5px 0px;
}

.footer-bs .footer-nav ul.list li {
    padding: 5px 0px;
}

